{% extends 'blog/blog_base.html' %}

{% block title %}
    {{ blog.title }}
{% endblock %}

{% load static %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block left_contents %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{ blog.title }}</h3>
        </div>
        <div class="panel-body">
            <div class="blog-content">{{ blog.content|safe }}</div>
        </div>
        <div class="panel-footer">
            <button id="button_likes" type="button" class="btn btn-default btn-xs" aria-label="Left Align"
                    onclick="click_likes()">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                <span id="like_count" >0</span>
            </button>
            <button id="button_nolikes" type="button" class="btn btn-default btn-xs" aria-label="Left Align"
                    onclick="click_nolikes()">
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                <span id="nolike_count">0</span>
            </button>
            分类: <a href="{% url 'blog_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a>
            更新时间: {{ blog.updated_time|date:"Y-m-d H:i:s" }}&nbsp;&nbsp;
            <div>
                {% if pervious_blog.pk %}
                    <a href="{% url 'blog_detail' pervious_blog.pk %}">上一篇</a>
                {% else %}
                    没有了
                {% endif %}
                {% if next_blog.pk %}
                    <a href="{% url 'blog_detail' next_blog.pk %}">下一篇</a>
                {% else %}
                    没有了
                {% endif %}
            </div>
        </div>
    </div>
    <div class="comment-area">
        {% if user.is_authenticated %}
            <div>{{ user.username }}已登录，请评论.</div>
            <div id="reply_display_content" style="display: none">
                <p>回复：</p>
                <div id="reply_display">
                </div>
            </div>
            <form id="comment_form" action="{% url 'update_comment' %}" method="POST">
                {% csrf_token %}
                {% for field in comment_form %}
                    {{ field }}
                {% endfor %}
                <span id="comment_error" class="text-danger pull-left"></span>
                <input class="btn btn-primary pull-right" type="submit" value="提交">
            </form>
        {% else %}
            <div>用户还未登录，请登录后进行评论~
                <a class="btn btn-primary" href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
                <span>or</span>
                <a class="btn btn-danger" href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
            </div>
        {% endif %}
    </div>
    <hr>
    <div id="comment_list" class="comment-list">
        {% for comment in comments %}
            <div class="comments" id="root_{{ comment.pk }}">
                {{ comment.user.username }}({{ comment.commented_time|date:"Y-m-d H:i:s" }}):
                <div id="comment_{{ comment.pk }}">
                    {{ comment.context|safe }}&nbsp;&nbsp;&nbsp;
                    <a href="javascript: reply({{ comment.pk }});">回复</a>
                </div>
                {% for reply in comment.root_comment_reverse.all %}
                    <div class="replies">
                        {{ reply.user.username }}({{ reply.commented_time|date:"Y-m-d H:i:s" }}) 回复
                        {{ reply.parent.user.username }}:
                        <div id="comment_{{ reply.pk }}">
                            {{ reply.context|safe }}&nbsp;&nbsp;&nbsp;
                            <a href="javascript: reply({{ reply.pk }});">回复</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% empty %}
            <p>暂无评论</p>
        {% endfor %}
    </div>
{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        function click_nolikes() {

        }

        function click_likes() {
            console.log($("#like_count").className);
            document.getElementById("button_nolikes").classList.add("active");
        }

        $("#comment_form").submit(function () {
            $("#comment_error").text('');
            if (CKEDITOR.instances['id_text'].document.getBody().getText().trim() === '') {
                $("#comment_error").text('评论对象不能为空');
                return false;
            }
            CKEDITOR.instances['id_text'].updateElement()
            // 异步提交
            $.ajax({
                url: "{% url 'update_comment' %}",
                type: 'POST',
                data: $(this).serialize(),
                cache: false,
                success: function (data) {
                    console.log(data);
                    if (data['status'] === 'SUCCESS') {
                        if ($("#replay_to_object_pk").val() === '0') {

                            var comment_list_html = '<div class="comments" id="root_' + data['pk'] + '">' + data['username'] + '(' + data['comment_time'] + '):'
                                + '<div id="comment_' + data['pk'] + '">' + data['comment_context'] + '<a href="javascript: reply('
                                + data['pk'] + ');">回复</a></div></div>';
                            $("#comment_list").prepend(comment_list_html);
                            CKEDITOR.instances['id_text'].setData('');
                        } else {
                            var reply_html = '<div class="replies">' + data['username'] + '(' + data['comment_time'] + '): 回复'
                                + data['reply_to'] + ':<div id="comment_' + data['pk'] + '">' + data['comment_context']
                                + '<a href="javascript: reply(' + data['pk'] + ');">回复</a></div></div>';
                            $("#root_" + data['root_pk']).append(reply_html);
                            CKEDITOR.instances['id_text'].setData('');
                            $('#reply_display_content').hide();
                        }

                    } else {
                        $("#comment_error").text(data['message']);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
            return false;
        });

        function reply(obj_pk) {
            $('#replay_to_object_pk').val(obj_pk);
            var html = $('#comment_' + obj_pk).html();
            $('#reply_display').html(html);
            $('#reply_display_content').show();
            $('html').animate({scrollTop: $('#comment_form')})
        }
    </script>
{% endblock %}
