{% extends 'blog/blog_base.html' %}

{% block title %}
    {{ blog.title }}
{% endblock %}

{% load static %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock %}

{% block left_contents %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{ blog.title }}</h3>
        </div>
        <div class="panel-body">
            <div class="blog-content">{{ blog.content|safe }}</div>
        </div>
        <div class="panel-footer">
            分类: <a href="{% url 'blog_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a>
            更新时间: {{ blog.updated_time|date:"Y-m-d H:m:s" }}&nbsp;&nbsp;
            <div>
                {% if pervious_blog.pk %}
                    <a href="{% url 'blog_detail' pervious_blog.pk %}">上一篇</a>
                {% else %}
                    没有了
                {% endif %}
                {% if next_blog.pk %}
                    <a href="{% url 'blog_detail' next_blog.pk %}">下一篇</a>
                {% else %}
                    没有了
                {% endif %}
            </div>
        </div>
    </div>
    <div class="comment-area">
        {% if user.is_authenticated %}
            <form action="{% url 'update_comment' %}" method="POST">
            <div class="form-group">
                <label for="comment_text">{{ user.username }}已登录，请评论.</label>
                <textarea name="text" id="comment_text" class="form-control" rows="10"></textarea>
            </div>
                <input type="hidden" name="content_type" value="blog">
                <input type="hidden" name="object_id" value="{{ blog.pk }}">
                <input type="submit" value="提交" class="btn btn-primary">
            </form>
        {% else %}
            <div>用户还未登录，请登录后进行评论~
                <a class="btn btn-primary" href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
            </div>
        {% endif %}
    </div>
    <div class="comment-list">
        评论列表
    </div>
{% endblock %}


