{% extends 'blog/blog_base.html' %}

{% block title %}
    {{ blog.title }}
{% endblock %}

{% load static %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block left_contents %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{ blog.title }}</h3>
        </div>
        <div class="panel-body">
            <div class="blog-content">{{ blog.content|safe }}</div>
        </div>
        <div class="panel-footer">
            分类: <a href="{% url 'blog_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a>
            更新时间: {{ blog.updated_time|date:"Y-m-d H:m:s" }}&nbsp;&nbsp;
            <div>
                {% if pervious_blog.pk %}
                    <a href="{% url 'blog_detail' pervious_blog.pk %}">上一篇</a>
                {% else %}
                    没有了
                {% endif %}
                {% if next_blog.pk %}
                    <a href="{% url 'blog_detail' next_blog.pk %}">下一篇</a>
                {% else %}
                    没有了
                {% endif %}
            </div>
        </div>
    </div>
    <div class="comment-area">
        {% if user.is_authenticated %}
            <div>{{ user.username }}已登录，请评论.</div>
            <form action="{% url 'update_comment' %}" method="POST">
                {% csrf_token %}
                {{ comment_form }}
                <input class="btn btn-primary" type="submit" value="提交">
            </form>
        {% else %}
            <div>用户还未登录，请登录后进行评论~
                <a class="btn btn-primary" href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
                <span>or</span>
                <a class="btn btn-danger" href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
            </div>
        {% endif %}
    </div>
    <hr>
    <div class="comment-list">
        {% for comment in comments %}
            <p>{{ comment.user.username }}: {{ comment.context|safe }}</p>
        {% endfor %}
    </div>
{% endblock %}


