{% extends 'blog/blog_base.html' %}

{% block title %}
    博客列表
{% endblock %}

{% load static %}
{% load comment_tags %}
{% load read_statistics_tags %}
{% load likes_tags %}


{% block header_extends %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock %}

{% block left_contents %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">目录</h3>
        </div>
        <div class="panel-body">
            <div class="blog">
                {% for blog in blogs %}
                    <p class="title"><a href="{% url 'blog_detail' blog.pk %}">{{ blog }}</a></p>
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"><a
                            href="{% url 'blog_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a></span>
                    <span class="glyphicon glyphicon-time"
                          aria-hidden="true">{{ blog.updated_time|date:"Y-m-d H:m:s" }}</span>
                    <span>点赞({% get_likes_count blog %})</span>
                    <span>评论({% get_comment_count blog %})</span>
                    <span>阅读({% get_blog_readnum_count blog %})</span>
                    <div class="blog-list-content">{{ blog.content|striptags|truncatechars:30 }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if blogs.number == 1 %}
            {% else %}
                <li>
                    <a href="?page={{ blogs.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% for page_num in blogs.paginator.page_range %}
                {% if page_num == blogs.number %}
                    <li class="active"><span>{{ page_num }}</span></li>
                {% else %}
                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if blogs.number == blogs.paginator.num_pages %}
            {% else %}
                <li>
                    <a href="?page={{ blogs.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}


