{% extends 'form.html' %}

{% block other-button %}
<div class="pull-left">
    <button class="btn btn-primary" id="send_code">发送验证码</button>
</div>
{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        $("#send_code").click(function () {
            console.log('yes')
            const email = $("#id_email").val();
            if (email === '') {
                $('#tip').text('邮箱不能为空');
                return false;
            }
            console.log(email);
            $.ajax({
                url: "{% url 'send_verification_code' %}",
                type: "GET",
                data: {
                    'email': email
                },
                cache: false,
                success: function (data) {
                    if (data['status'] === 'ERROR') {
                        alert(data['status']);
                    }
                }
            });
            // 把按钮变灰
            $(this).addClass('disabled');
            $(this).attr('disabled', true);
            let time = 30;
            $(this).text(time + 's');
            const interval = setInterval(() => {
                if (time <= 0) {
                    clearInterval(interval);
                    $(this).removeClass('disabled');
                    $(this).attr('disabled', false);
                    $(this).text('发送验证码');
                    return false;
                }
                time--;
                $(this).text(time + 's');
            }, 1000);
        });
    </script>
{% endblock %}