{% extends 'base.html' %}

{% block title %}绑定邮箱{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 ">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">绑定邮箱</h3>
                    </div>
                    <div class="panel-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                {% if not field.is_hidden %}
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {% endif %}
                                {{ field }}
                                <p class="text-danger">{{ field.errors.as_text }}</p>
                            {% endfor %}
                            <span id="tip" class="text-danger">{{ form.non_field_errors }}</span>
                            <div class="clearfix"></div>
                            <div class="pull-left">
                                <button class="btn btn-primary" onclick="send_verification_code()">发送验证码</button>
                            </div>
                            <div class="pull-right">
                                <input type="submit" class="btn btn-primary" value="绑定">
                                <button class="btn btn-default" onclick="window.location.href='{% url 'user_info' %}'">
                                    返回
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        function send_verification_code() {
            const email = $('#email').val();
            if(email===''){
                $('#tip').text('邮箱不能为空');
                return false;
            }
            $.ajax({
                url: {% url 'send_verification_code' %},
                type: 'GET',
                data:{
                    'email': email
                },
                cache:false,
                success: function (data) {
                    if(data['status']==='ERROR'){
                        alert(data['status'])
                    }
                }
            });
        }
    </script>
{% endblock %}