{% extends 'base.html' %}

{% block title %}个人博客|首页{% endblock %}

{% load static %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
{% endblock %}


{% block content %}
    <h3 class="home-content" id="home-text">欢迎来到个人博客网站</h3>
    <div id="container" style="width: 480px;height:320px;"></div>
    <script>
        // 图表配置
        var options = {
            chart: {
                type: 'line'                          //指定图表的类型，默认是折线图（line）
            },
            title: {
                text: '前七天阅读量统计'                 // 标题
            },
            xAxis: {
                categories: {{ readnum_week_date|safe }}   // x 轴分类
            },
            yAxis: {
                title: {
                    text: '阅读量'                // y 轴标题
                }
            },
            series: [{                              // 数据列
                name: '日期',                        // 数据列名
                data: {{ readnum_week_num }}                    // 数据
            }],
            legend: {enabled: false},
            credits: {enabled: false},
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
    </script>
    <div class="hot-blogs">
        <h3>今天热门博客</h3>
        <ul>
            {% for blog in today_hot_blogs %}
                <li><a href="{% url 'blog_detail' blog.content_object.pk %}">{{ blog.content_object.title }}</a></li>
            {% empty %}
                <li>今天还没有热门博客</li>
            {% endfor %}
        </ul>
        <h3>昨天热门博客</h3>
        <ul>
            {% for blog in yesterday_hot_blogs %}
                <li><a href="{% url 'blog_detail' blog.content_object.pk %}">{{ blog.content_object.title }}</a></li>
            {% empty %}
                <li>昨天没有热门博客</li>
            {% endfor %}
        </ul>
        <h3>一周热榜</h3>
        <ul>
            {% for blog in last_week_hot_blogs %}
                <li><a href="{% url 'blog_detail' blog.id %}">{{ blog.title }}</a></li>
            {% empty %}
                <li>上周没有热门博客</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        $('#home-text').rotate({
            bind: {
                click: function () {
                    $(this).rotate({
                        angle: 0,
                        animateTo: 360,
                        easing: $.easing.easeInOutExpo
                    });
                }
            }
        });
    </script>
{% endblock %}


